<!DOCTYPE html>
<html>
<head>
    <title>Log in</title>
    <meta charset="utf-8">
    <style>
    body {
    background: #9370DB
    }
    </style>
</head>
<body>
    <p align='center'><font size="30" color='#4B0082' face="Georgia">Log In</font></p>
    <center>
    <form method = 'GET'>
        <input type="text" style="width: 300px; height: 40px; border-radius: 8px" aria-label="Username" class="form-control" placeholder="Username" name="Username">
        <br>
        <br>
        <input type="password"  style="width: 300px; height: 40px; border-radius: 8px" aria-label="Password" class="form-class" placeholder="Password" name="Password">
        <br>
        <br>
        <input type="submit" value="Log In" style="width: 300px; height: 40px; background: #BA55D3; border-radius: 8px">
        <br>
        <p align='center'><font size="5" color='#4B0082' face="Georgia">Do not have an account ?</font></p>
        <a href="/sign_up" target="" style="font-family: Georgia; color: #4B0082; font-size: 25px">Sign Up</a>

</body>
</html>