<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение пароля</title>
    <style>
    body {
    background: #E6E6FA
    }
    </style>
</head>
<body>
    <p align='center'><font size="30" color='#4B0082' face="Georgia">Изменение пароля</font></p>
    <center>
    <form method = 'GET'>
        <input type="password" style="width: 300px; height: 40px; border-radius: 8px" aria-label="Password Change" class="form-control" placeholder="Новый пароль" name="Password Change">
        <br>
        <br>
        <input type="submit" value="Подтвердить" style="width: 300px; height: 40px; background: #BA55D3; border-radius: 8px">

</body>
</html>