<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Настройки</title>
    <style>
    body {
    background: #E6E6FA
    }
    </style>
</head>
<body>
    <p align='center'><font size="30" color='#4B0082' face="Georgia">Настройки</font></p>
    <center>
        <br>
        <a href="/usnamechange" target="" style="font-family: Georgia; color: #4B0082; font-size: 25px">Изменить имя пользователя</a>
        <br>
        <br>
        <a href="/pwchange" target="" style="font-family: Georgia; color: #4B0082; font-size: 25px">Изменить пароль</a>
        <br>
        <br>
        <a href="/namechange" target="" style="font-family: Georgia; color: #4B0082; font-size: 25px">Изменить имя/фамилию</a>
        <br>
        <br>
        <a href="/mailchange" target="" style="font-family: Georgia; color: #4B0082; font-size: 25px">Изменить e-mail</a>
        <br>
        <br>
        <a href="/phnumchange" target="" style="font-family: Georgia; color: #4B0082; font-size: 25px">Изменить телефонный номер</a>

</body>
</html>