<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <meta charset="utf-8">
    <style>
    body {
    background: #9370DB
    }
    </style>
</head>
<body>
    <p align='center'><font size="30" color='#4B0082' face="Georgia">Sign Up</font></p>
    <center>
    <form method = 'GET'>
        <input type="text" style="width: 300px; height: 40px; border-radius: 8px" aria-label="Username" class="form-control" placeholder="Username" name="Username">
        <br>
        <br>
        <input type="password"  style="width: 300px; height: 40px; border-radius: 8px" aria-label="Password" class="form-class" placeholder="Password" name="Password">
        <br>
        <br>
        <input type="email" style="width: 300px; height: 40px; border-radius: 8px" aria-label="E-mail" class="form-class" placeholder="E-mail" name="Email">
        <br>
        <br>
        <input type="text" style="width: 300px; height: 40px; border-radius: 8px" aria-label="Name" class="form-class" placeholder="Name" name="Name">
        <br>
        <br>
        <input type="text" style="width: 300px; height: 40px; border-radius: 8px" aria-label="Surname" class="form-class" placeholder="Surname" name="Surname">
        <br>
        <br>
        <input type="date" style="width: 300px; height: 40px; border-radius: 8px" aria-label="Date of Birth" class="form-class" placeholder="Date of Birth" name="Date of Birth">
        <br>
        <br>
        <input type="time" style="width: 300px; height: 40px; border-radius: 8px" aria-label="Time of Birth" class="form-class" placeholder="Time of Birth" name="Time of Birth">
        <br>
        <br>
        <input type="text" style="width: 300px; height: 40px; border-radius: 8px" aria-label="Place of Birth" class="form-class" placeholder="Place of Birth" name="Place of Birth">
        <br>
        <br>
        <input type="submit" value="Sign Up" style="width: 300px; height: 40px; background: #BA55D3; border-radius: 8px">
        <br>
        <p align='center'><font size="5" color='#4B0082' face="Georgia">Have an account ?</font></p>
        <a href="/" target="" style="font-family: Georgia; color: #4B0082; font-size: 25px">Log In</a>
</body>
</html>